@font-face{
	font-family: kabayan;
	src: url(font/kabayan.ttf);
}

@font-face{
	font-family: comforta;
	src: url(font/Comfortaa-Regular.ttf);
}

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: #192a56;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 2px 2px 25px -4px rgba(0,0,0,0.71);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: rgba(255, 255, 255, 0.8);
}

li a.active {
    color: white;
    background-color: #4CAF50;
}

nav {
    background-color: #f8f9fa!important;
}
nav ul li:not(.navbar-brand) {
	line-height: 30px;
	font-family: Helvetica, sans-serif;
}
.navbar-brand {
    font-size: 25px;
	margin-right: 20px;
	font-family: kabayan;
}
main {
    width: 100%;
	overflow-x: hidden;
}
.banner{
	background: url(image/banner.jpg);
	background-attachment: fixed;
	background-size: cover;
}
.banner-city{
}
.banner-bali {
	background: url(image/bali-2975787_1920.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.banner-bromo {
	background: url(image/bromo-4293071_1920.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.banner-magelang {
	background: url(image/buddha-1210622_1920.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.content-full{
	height: 100vh;
	width: 100%;
}
.content-50{
	height: 70vh;
	width: 100%;
}
.banner h1{
	font-family: kabayan;
	color: #fff;
	text-align: center;
	font-size: 60px;
	line-height: 97vh;
}
.banner-city h1{
	font-family: kabayan;
	color: #fff;
	text-align: center;
	font-size: 60px;
	line-height: 70vh;
}

.banner p{
	font-family: monospace;
	font-size: 20px;
	color: #fff;
	text-align: center;
	margin-top: -44vh;
}

.banner-city p{
	font-family: monospace;
	font-size: 20px;
	color: #fff;
	text-align: center;
	margin-top: -20vh;
}

.banner a{
	display: block;
	height: 40px;
	width: 100px;
	border: 1px solid #fff;
	border-radius: 20px;
	line-height: 40px;
	font-family: comforta;
	text-decoration: none;
	color: #fff;
	margin-top: 180px;
	font-size: 12px;
	transition: all 0.3s ease;
}

.banner a:hover{
	background: #fff;
	color: #192a56;
}

.indonesia {
	background: #273c75;
	height: 100vh;
	width: 100%;
	text-align: center;
}

.indonesia img {
	margin-top: 25vh;
}

.indonesia p {
	font-family: monospace;
	color: white;
	font-size: 25px;
	margin-top: 5vh;
}

.gt-info-box {
    width: 100%;
	background-color: white;
	margin-right: 10%;
	margin-bottom: 70px;
}

.gt-info-content {
	margin-left: 10%;
	width: 80%;
}

.gt-info-content .header {
	text-align: center;
	margin-top: 70px;
	font-size: 50px;
	font-family: helvetica, sans-serif;
}

.gt-info-content .title {
	font-size: 30px;
	font-weight: 700;
	line-height: 50px;
	font-family: comforta;
}
.gt-info-box p {
	margin-top: 10px;
	line-height: 25px;
	font-weight: 400;
	font-size: 18px;
	font-family: Helvetica, sans-serif;
}
.gt-info-item img {
	-webkit-box-shadow: 7px 10px 30px 3px rgba(0,0,0,0.14);
	-moz-box-shadow: 7px 10px 30px 3px rgba(0,0,0,0.14);
	box-shadow: 7px 10px 30px 3px rgba(0,0,0,0.14);
}

.hotel-recommendation-box {
	background: #273c75;
	width: 100%;
	text-align: center;
	padding: 0px 50px 50px 50px;
}

.hotel-recommendation-box h1 {
	text-align: center;
	font-size: 50px;
	line-height: 190px;
	color: white;
	font-family: helvetica, sans-serif;
}

.white-card {
	width: 100%;
	background-color: white;
	height: 400px;
	border-radius: 5px;-webkit-box-shadow: 7px 10px 30px 3px rgba(0,0,0,0.14);
	-moz-box-shadow: 7px 10px 30px 3px rgba(0,0,0,0.14);
	box-shadow: 7px 10px 30px 3px rgba(0,0,0,0.14);
}

.card-image {
	border-radius: 5px 5px 0px 0px;
	width: 100%;
	height: 200px;
}

.hotel-bali-1 {
	background-image: url(image/hotel-bali-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.hotel-bali-2 {
	background-image: url(image/hotel-bali-2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.hotel-bali-3 {
	background-image: url(image/hotel-bali-3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.hotel-bali-4 {
	background-image: url(image/hotel-bali-4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.hotel-bali-5 {
	background-image: url(image/hotel-bali-5.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.hotel-bali-6 {
	background-image: url(image/hotel-bali-6.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.hotel-bromo-1 {
	background-image: url(image/hotel-bromo-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.hotel-bromo-2 {
	background-image: url(image/hotel-bromo-2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.hotel-bromo-3 {
	background-image: url(image/hotel-bromo-3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.hotel-bromo-4 {
	background-image: url(image/hotel-bromo-4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.card-image-side {
	border-radius: 5px 0px 0px 5px;
	width: 30%;
	height: 100%;
	float: left;
}

.attractions-bali-1 {
	background-image: url(image/attractions-bali-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.attractions-bali-2 {
	background-image: url(image/attractions-bali-2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.attractions-bali-3 {
	background-image: url(image/attractions-bali-3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.attractions-bromo-1 {
	background-image: url(image/attractions-bromo-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.attractions-bromo-2 {
	background-image: url(image/attractions-bromo-2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.card-content {
	margin-left: 10%;
	width: 80%;
	padding-top: 220px;
}

.card-content h1, .card-content-side h1 {
	font-size: 25px;
	text-align: left;
	color: black;
	margin-top: 10px;
	line-height: 0px;
	font-weight: 600;
	font-family: Helvetica, sans-serif;
}

.card-content p {
	margin-top: 30px;
	line-height: 20px;
	text-align: left;
}

.card-content-side p {
	margin-top: 30px;
	line-height: 27px;
	text-align: left;
}

.card-content-side {
	margin-left: 30%;
	padding: 30px 30px 0px 30px;
}

.mt-20 {
	margin-top: 20px;
}

.white-card h2 {
	text-align: center;
	padding-top: 100%;
}